* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*googlefonts:
    font-family: 'Belanosima', sans-serif;

    font-family: 'Poppins', sans-serif;
    */

@media (min-width:320px) {

}

@media (min-width: 768px) {

}